.feature{
    height: 100vh;

}
.feature--vertical{
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, rgba(17, 17, 17, 0) 90%);
}
.feature--horizontal{
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, rgba(17, 17, 17, 0) 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
    padding-top: 70px;
}
.feature--name{
    font-size: 60px;
    font-weight: bolder;
    max-width: 60%;
}
.feature--info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}
.feature--points, .feature--year, .feature--seasons{
    display: inline-block;
    margin-right: 15px;
}
.feature--points {

    color: #46d369;

}
.feature--descripition{
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
}
.feature--buttons{
    margin-top: 15px;
}
.btn1, .btn2{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 15px;
    transition: all ease .2s;
}
.btn1:hover, .btn2:hover{
    opacity: 0.7
}

.btn1{
    background-color: white;
    color: black;
}
.btn2{
    background-color: #333;
    color: white;
}
.feature-genres{
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

@media (max-width:760px){
    .feature{
        height: 99vh;
    }
    .feature--name{
        font-size: 40px;
    }
    .fonture--info{
        font-size: 16px;
    }
    .feature--descripition{
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }
    .btn1, .btn2{
        font-size: 16px;
    }
    .feature--genres{
        font-size: 14px;
    }
}

@media (max-width:430px){
    .feature--name{
        margin-top: 10px;
        font-size: 27px;
    }
    .fonture--info{
        font-size: 16px;
    }
    .feature--descripition{
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }
    .btn1{
        margin-bottom: 10px;
    }
    .btn1, .btn2{
        font-size: 16px;
        padding: 7px 25px;
    }
    .feature--genres{
        font-size: 14px;

    }
    .movieRow{
        margin-top: 30px;
    }
    .movieRow--left, .movieRow--right{
        width: 30px;
    }
    .movieRow--left p, .movieRow--right p{
        font-size: 15px;
    }
    .movieRow--listarea{
        overflow-x: hidden;
        padding-left: 10px;
    }
}